.title {
    background-color: rgb(184, 236, 253);
    font-family: cursive;
    font-size: 32px;
    font-weight: bolder;
    color: rgb(14, 117, 59);
}
.clams {
    height: auto;
    width: 600px;
}
.subtitle{
    font-family: fantasy;
    font-weight: bold;
    font-size: 22px;
    color: rgb(0, 100, 100);
}
div {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: lighter;
    font-size: medium;
    color: black;
}