#title {
    font-family: monospace;
    font-size: 50px;
    background-color: rgb(252, 227, 182);
    color: rgb(23, 96, 155);
}
.picture {
    height: auto;
    width: 400px;
}
.subtitle {
    font-size: 32px;
    font-weight: bolder;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(66, 106, 146);
    background-color: whitesmoke;
}
div {
    text-align: center;
    color: rgb(0, 0, 43);
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}